/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
html {
  font-family: 'Poppins', sans-serif;
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  border-radius: inherit;
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p, span {
  font-weight: 400;
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

:root {
  --red-400: hsl(0, 100%, 74%);
  --green-400: hsl(154, 59%, 51%);
  --purple-700: hsl(248, 32%, 49%);
  --gray-900: hsl(249, 10%, 26%);
  --purple-350: hsl(246, 25%, 77%);
  --white: hsl(0, 0%, 100%);
}

main {
  background-image: url('./images/bg-intro-mobile.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-color: var(--red-400);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  width: 100%;
}

.intro__section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem 1.25rem;
}

.intro__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intro__headline {
  color: var(--white);
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}

.intro__copy {
  color: var(--white);
  text-align: center;
}

.intro__form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
}

.intro__form-trial {
  background-color: var(--purple-700);
  box-shadow: 0 8px 0  hsla(0, 0%, 0%, 0.20);
  border-radius: 0.5rem;
  color: var(--white);
  font-weight: 300;
  padding: 0.75rem 1.25rem;
  text-align: center;
}

.intro__form-trial .bold {
  font-weight: 600;
}

.intro__form {
  border-radius: 0.5rem;
  box-shadow: 0 8px 0  hsla(0, 0%, 0%, 0.20);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
  width: 100%;
}

.intro__form-label {
  border-color: var(--gray-900);
}

.intro__form-input {
  padding: 0.5rem;
  width: 100%;
}

.intro__form-button {
  background-color: var(--green-400);
  border-radius: 0.5rem;
  border: none;
  box-shadow: 1px 1px 0 hsla(154, 59%, 51%, 0.30);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0.75rem;
}

.intro__form-terms {
  color: var(--gray-900);
  font-size: 0.625rem;
  text-align: center;
}

.intro__form-terms a {
  color: var(--red-400);
  font-weight: 700;
  text-decoration: none;
}